html,body{
    width: 100%;
    height: 100%;
}
body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif !important;
    color: #040404;
    background: #f5f5f5  !important;
}
a{
    text-decoration: none!important;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
@mixin font-dpr($font-size){
    font-size: $font-size;

    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }

    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}
$main-color: #43CD80;
.zhanwei{
    height: 1.40625rem;
}
@mixin arrow{
    
    margin-right: 0.46875rem;
    color: #777;
}

/*
    公共头部
*/
header{
   .header-wrap{
        position: fixed;
        z-index: 999;
        top:0;
        width:100%;
        height: 1.40625rem;
        background: $main-color;
        animation: moveDown .3s ease-out;
        display:flex;

        .icon{
            height: 1.40625rem;
            width: 1.40625rem;
            line-height:1.40625rem;
            text-align: center;
            a{
                display: block;
                color:#fff;
                
            }
            .iconfont{
                @include font-dpr(24px); 
            }
        }
        .header-title{
            flex-grow:1;
            @include font-dpr(16px);
            color: #fff;
            text-align: center;
            line-height: 1.40625rem;
            font-weight: bold;
        }
    } 
}

@keyframes moveDown{
    0%{
        transform:translate(0,-0.3125rem)
    }
    100%{
        transform:translate(0,0)
    }
}



/*
    数据正在加载中
*/

.data-load-0 {
    margin: 20px auto;
    position: relative;
    animation: rotate-forever 1s infinite linear;
    height: 0.625rem;
    width: 0.625rem;
    border: 4px solid $main-color;
    border-right-color: transparent;
    border-radius: 50%;
    .msg {
        display: none;
    }

}

.data-load {
    .msg {
        line-height: 1.09375rem;
        text-align: center;
        @include font-dpr(12px);
    }
}

@keyframes rotate-forever {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}
/*
    文章列表
 */
.article-list{
    background: #f5f5f5;
    width:100%;
    padding-bottom: 0.3125rem;
    .article-list-item{
        padding:0.234375rem;
        margin-bottom: 0.3125rem;
        background:#fff;
        border:2px solid #e1e1e1;
    }
    .article-list-item:last-child{
        margin-bottom: 0rem;
    }
    .article-top{
        display:block;
        
        .pictrue{
            padding-bottom: 0.15625rem;
            .pictrue-img{
                width:100%;
                height:100%;
            }
        }
        .title{
            @include font-dpr(16px);
            font-weight: bold;
            color:#000;
        }
        .content{
            color: #555;
            padding-bottom: 0.15625rem;
            @include font-dpr(12px);
        }
    }
    .article-bottom{
        display:flex;
        justify-content:space-between;
        @include font-dpr(12px);
    }
}
/*
    底部菜单栏
*/
footer{
    width:100%;
    height: 1.40625rem;
    .menu{
        background: #eee;
        position: fixed;
        z-index: 999;
        bottom:0;
        width:100%;
        display:flex;
        flex-wrap: nowrap;
        li{
            flex-grow:1;
            @include font-dpr(12px);
            a{
                display:block;
                padding:0.078125rem 0;
                line-height: 0.625rem;
                color:#000;
                text-align: center;
                
                opacity: 0.8;
            }
        }
        li.on a{
            opacity:1;
            color: #FF6A6A;
        }
        .iconfont{
            display:block;
            @include font-dpr(12px);
        }
    }
}
/*
    分类
*/

.class {
    background: #fff;
    ul {
        padding: 0.3125rem 0.3125rem 0;
    }
    li {
        float: left;
        width: 25%;
        margin-bottom: 0.3125rem;

        a {
            display: block;
            text-align: center;
            font-size: 14px;
            font-weight: bolder;
            color: #222;
            @include font-dpr(12px);
        }
    }
}
/*
    详情页
 */
.article-view{
    margin: 0 0.15625rem;
    padding: 0 0.15625rem;
    h2 {
        font-weight: bolder;
        @include font-dpr(14px);
        color: #222;
        margin: 0.15625rem 0;
    }
    .see {
        margin: 0.15625rem 0;
        @include font-dpr(12px);
        color: #999;
    }
    article {
        padding: 10px 0;
        @include font-dpr(12px);
        color: #666;
        img{
            width:100%;
        }
    }
}

/*
    个人中心
*/
.user{
    background: #f5f5f5;
    i{
        @include font-dpr(12px);
        
    }
    .head{
        height:2.34375rem;
        border-bottom: 1px solid #ccc;
        position: relative;
        background:#fff;
        .headimg{
            position: absolute;
            top:50%;
            margin-top: -0.78125rem;
            width: 100%;
            a{
                display:flex;
                height:1.5625rem;
            }
            .headimg-pictrue{
                width:1.5625rem;
                height:1.5625rem;
                border-radius: 1.5625rem;
                background:url(../imgs/crli.png)no-repeat;
                background-size: 100%;
                margin-left: 0.390625rem;
            }
            .headimg-name{
                margin-left: 0.46875rem;
                flex-grow:1;
                line-height:1.5625rem; 
                color:#222;
                @include font-dpr(12px);
            }
            .arrow{
                @include arrow;
                line-height:1.5625rem;

            }
        }
       
    }
    .logins{
        height:1.25rem;
        border-bottom: 1px solid #ccc;
        display:flex;
        background:#fff;
        .item{
            width:50%;
            text-align: center;
            line-height: 1.25rem;
            a{
                display:inline-block;
                width:100%;
                color:#222;
                @include font-dpr(12px);
                .logins-item{
                    display:inline-block;
                }
                .logins-tit{
                    display:inline-block;
                    padding-left: 0.09375rem;
                }
            }
        }
    }
    .nav{
        margin: 0.46875rem 0 0;
        border-top: 1px solid #ccc;
        background:#fff;
        li{
            height:1.25rem;
            border-bottom: 1px solid #ccc;
            box-sizing:border-box;
        }
        a{
            display:flex;
            color:#222;
            line-height: 1.25rem; 
            .font{
                width:0.9375rem;
                text-align: center;
                .iconfont:before{
                    position: relative;
                    top: -2px
                }
            }
            .tit{
                flex-grow:1;
                @include font-dpr(14px);
            }
            .arrow{
                @include arrow;
            }
        }
    }
}
/*
    登录
 */

.login{
    margin:1.5625rem 0.78125rem;
    i{
        @include font-dpr(12px);

    }
    .line{
        height:1.25rem;
        width:100%;
        display:flex;
        line-height: 1.25rem;
        position: relative;
        border:1px solid #ccc;
        .key{
            width:1.25rem;
            color:#bbb;
            text-align: center
        }
        .value{
            flex-grow:1;
            input{
                height:100%;
                width:100%;
                border:0;
                background:#f5f5f5;
                padding-left: 0.078125rem;
                margin-left: -0.078125rem;
                @include font-dpr(12px);
                 line-height: 1.25rem;
            }
        }
        @for $i from 1 through 3 {
            &:nth-child(#{$i}):after{
                position: absolute;
                content:"";
                width:100%;
                height:1px;
                background-color:#ccc;
                bottom:0;
                left:0;
            }
        }
        @for $i from 1 through 3 {
            &:nth-child(#{$i}) {border-bottom: 0; }
        }
        @for $i from 2 through 4 {
            &:nth-child(#{$i}) {border-top: 0; }
        }

    }
   
    .btn{
        margin: 0.78125rem 0 0;
        width:100%;
        border:1px solid #ccc;
        background-color: #2345df;
        height:1.25rem;
        box-sizing:border-box;
        line-height: 1.25rem;
        text-align: center;
        color:#fff;
        cursor: pointer;
        @include font-dpr(12px);
    }
    .forget{
        margin:0 0 0.78125rem;
        height:1.25rem;
        .for-logpass{
            margin: 0 auto;
            width:100%;
            height:100%;
            line-height: 1.25rem;
            text-align: center;
            cursor: pointer;
            @include font-dpr(12px);
        }
    }
}
.about{
    text-align: center;
    margin:0.3125rem;
}
